.hero-container{
  background-image: url(http://themesflat.com/html/educate/images/slides/1.jpg);
  min-height: calc(100vh - 85px);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(8, 8, 8, 0.678);
  color:white; 

}

.hero-text{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 85px);
  justify-content: center;
  align-items: center ;

}

.hero-text p{
  color: gray;
}
