
.footer{
  background: #2C91FB;
  
  padding: 20px;
  color:white;
}
.footer p{
  margin: 0;
}

.icon-div i{
  margin-right: 20px;
  font-size: 28px;
  cursor: pointer;
  transition: 0.5s;
}

.icon-div i:hover{
  color: rgb(218, 216, 216);
}