.App {
  text-align: center;
}

.pm-color{
  color: #03B97C;
}

.pm-bg{
  background-color: #03B97C !important;
}

.bg-theme{
  background-image: url(http://themesflat.com/html/educate/images/slides/1.jpg);
  min-height: calc(100vh - 50px);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(8, 8, 8, 0.678);
  color:white; 
}
.bg-theme-text{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  justify-content: center;
  align-items: center ;

}

.under-line-text{
width: 290px;
margin: 0 auto;
position: relative;
}

.under-line-text::after{
  content: "";
  width: 0px;
  border-bottom: 4px solid #2C91FB;
  position: absolute;
  bottom: -7px;
  left: 0;
  transition: 0.7s;
}
.underline-parent:hover .under-line-text::after{
  width: 290px;
}
.btn-unfill{
  border: 1px solid #1385ff;
  color: rgba(46, 46, 46, 0.815);
  transition: 0.5s;
  padding: 5px 12px;
  border-radius: 3px;
  
}
.btn-unfill:hover{
  color: white;
  background: #238cfd;
}